.page {
  max-width: 1280px;
  min-height: 100vh;
  background-color: #EADFCA;
  font-family: "Inter", "Arial", sans-serif;
  color: #90C5D9;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  align-items: center;
  margin: 0 auto;
}
