.form__input {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  height: 30px;
  margin-bottom: 5px;
  margin-top: 10px;
  max-width: 200px;
}

.form .form__input:first-of-type{
  margin-top: 0;
}

.form__input:focus {
  outline: none;
}

.form__input:hover {
  border-bottom-color: #90917e;
}

@media (max-width: 620px) {
  .form__input {
    width: 238px;
  }
}
