.header__logo {
  background-image: url("../../../images/__logo.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 80px;
  height: 32px;
}

@media (min-width: 768px) {
  .header__logo {
    background-size: contain;
    width: 90px;
    height: 52px;
  }
} 
