{% extends "main.html"%} {% block container%}

<section class="photo-grid">
  <a href="https://belka-mironova.github.io/IndigenousPeoplesRussia/" class="photo-grid__content" target="_blank">
    <img
      src="static/images/ind4.jpeg"
      alt="Indigenous Peoples Russia"
      class="photo-grid__item"
    />
    <div class="photo-grid__overlay">
      <h2 class="photo-grid__title">Indigenous peoples</h2>
    </div>
  </a>

  <a href="#" class="photo-grid__content" target="_blank">
    <img
      src="static/images/dagestan.avif"
      alt="Вид из окна поезда"
      class="photo-grid__item"
    />
    <!-- <div class="photo-grid__item" style="background-color: #FA7755;"></div> -->
    <div class="photo-grid__overlay">
      <h2 class="photo-grid__title">Regions</h2>
      <p class="photo-grid__subtitle">Coming soon...</p>
    </div>
  </a>

  <a href="" class="photo-grid__content" target="_blank">
    <img
      src="static/images/tymen.avif"
      alt="Тюмень"
      class="photo-grid__item"
    />
    <!-- <div class="photo-grid__item" style="background-color: #EEB1D2;"></div> -->
    <div class="photo-grid__overlay">
      <h2 class="photo-grid__title">Cities</h2>
      <p class="photo-grid__subtitle">Coming soon...</p>
    </div>
  </a>

  <a href="#" class="photo-grid__content" target="_blank">
    <img
      src="static/images/spb4.jpg"
      alt="Вид из окна поезда"
      class="photo-grid__item"
    />
    <!-- <div class="photo-grid__item" style="background-color: #E5C158;"></div> -->
    <div class="photo-grid__overlay">
      <h2 class="photo-grid__title">Renamed Cities</h2>
      <p class="photo-grid__subtitle">Coming soon...</p>
    </div>
  </a>

  <a href="#" class="photo-grid__content" target="_blank">
    <img
      src="static/images/chukotka.avif"
      alt="Вид из окна поезда"
      class="photo-grid__item"
    />
    <!-- <div class="photo-grid__item" style="background-color: #93BBA0;"></div> -->
    <div class="photo-grid__overlay">
      <h2 class="photo-grid__title">Geographical Darts</h2>
      <p class="photo-grid__subtitle">Coming soon...</p>
    </div>
  </a>

  <a href="{{url_for('contact')}}" class="photo-grid__content" target="_blank">
    <img
      src="static/images/bratsk.JPG"
      alt="Братск"
      class="photo-grid__item"
    />
    <!-- <div class="photo-grid__item" style="background-color: #F39527;"></div> -->
    <div class="photo-grid__overlay">
      <h2 class="photo-grid__title">???</h2>
      <p class="photo-grid__subtitle">Tell us what you want to see here!</p>
    </div>
  </a>
</section>
{% endblock %}
