{% extends "index.html"%} {% block header%}
<div class="header__logo"></div>
<div class="header__lang">
  <a href="{{url_for('home')}}" class="header__lang-link">Home</a>
  <a href="{{url_for('profile')}}" class="header__lang-link">{{user}}</a>
  <a href="{{url_for('logout')}}" class="header__lang-link">Log Out</a>
  <a href="{{url_for('logout')}}" class="header__lang-link header__lang-link_selected">En</a>
</div>
{% endblock %} {% block footer%}
<nav class="footer__menu">

  <a href="{{url_for('about')}}" class="footer__menu-item">About the project</a>

  <a href="{{url_for('contact')}}" class="footer__menu-item" target="_blank"
    >Contact us</a
  >
</nav>
<p class="footer__copyright">&copy;2022.Bella Mironova</p>
{% endblock %}
